h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
th {
	text-align: center;
}
td.name {
	text-align: left;
}
td {
	text-align: center;
}
tr:hover {
	background-color: rgb(240,240,240);
}
td::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
td::after {
	display: block;
	content: attr(data-text);
	font-weight: bold;
	color: transparent;
	height: 1px;
	margin-bottom: -1px;
	visibility: hidden;
	overflow: hidden;
}
.team1 {
	fill: #307fe2; 
	background-color: #307fe2;
	stroke: white; 
	stroke-width: 1; 
}    
.team1.hovered {
	opacity: 0.6;
}
.team2 {
	fill: #e87722; 
	background-color: #e87722;
	stroke: white; 
	stroke-width: 1; 
}    
.team2.hovered {
	opacity: 0.6;
}
.text-team-results {
	fill: white;
	font-weight: bold;
	font-size: 14px;
	font-family: sans-serif;
}
.text-row-name {
	fill: black;
	font-size: 20px;
	font-family: sans-serif;
}
text {
	pointer-events: none;
}
.score {
	text-align: center;
	font-size: 28px;
	padding: 3px;
}
.table-and-chart-container {
	display: flex;
	align-items: flex-start;	
}
#barChartContainer {
	margin-left: 50px; 
}
#barChart.hovered {
	opacity: 0.6;
}
.option {
	margin-left: 10px;
}
#element-ancre {
	position: fixed;
	top: 55px;
	left: 5px;
}
.timeline-legend-container {
	display: flex;
	align-items: flex-start;	
}
#timeline {
	display: none;
	height: 270px;
}
#timelineDetails {
    margin-top: -100px;
}
.timeline-visible {
	display: block;
}
.legend-align {
	padding-top: 15px;
	padding-left: 20px;
	align-self: center;
}
.table>:not(caption) {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}
rect.overlay {
	stroke: black;
}
rect.selection {
	stroke: none;
 	fill: steelblue;
	fill-opacity: 0.6;
}
#labelleft, #labelright {
	dominant-baseline: hanging;
  	font-size: 12px;
}
#labelleft {
	text-anchor: end;
}
#labelright {
	text-anchor: start;
}
button {
	font-size: 20px;
}
