h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}
th {
	text-align: center;
}
td.name {
	text-align: left;
}
td {
	text-align: center;
}
tr:hover {
	/* font-weight: bold; */
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */

	background-color: rgb(240,240,240);
}
td::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
td::after {
	display: block;
	content: attr(data-text);
	font-weight: bold;
	color: transparent;
	height: 1px;
	margin-bottom: -1px;
	visibility: hidden;
	overflow: hidden;
}
.team1 {
	fill: #307fe2; 
	background-color: #307fe2;
	stroke: white; 
	stroke-width: 1; 
}    
.team1.hovered {
	opacity: 0.6;
}
.team2 {
	fill: #e87722; 
	background-color: #e87722;
	stroke: white; 
	stroke-width: 1; 
}    
.team2.hovered {
	opacity: 0.6;
}
.text-team-results {
	fill: white;
	font-weight: bold;
	font-size: 14px;
	font-family: sans-serif;
}
.text-row-name {
	fill: black;
	font-size: 20px;
	font-family: sans-serif;
}
text {
	pointer-events: none;
}
.score {
	text-align: center;
	font-size: 28px;
	padding: 3px;
}

.table-and-chart-container {
	display: flex;
	align-items: flex-start;
}
#barChartContainer {
	/* flex: 0 0 40%; Adjust the width of the bar chart container as needed */
	margin-left: 50px; /* Adjust the margin between the table and the bar chart */
}
#barChart.hovered {
	opacity: 0.6;
}
.option {
	margin-left: 10px;
}
#element-ancre {
	position: fixed;
	/* /* left: 50px; */
	top: 55px;
	left: 5px;
	/* padding: 10px; */ 
	/* background-color: #f0f0f0;
	border: 1px solid #ccc; */
}
#timeline {
	display: none;
	/* border: 3px solid black; */
	height: 270px;
}

.timeline-visible {
	display: block;
}

.table>:not(caption) {
	/* dont set a background color */

	background-color: #f0f0f0;
	/* background-color: ; */
}

rect.overlay {
	stroke: black;
}

rect.selection {
	stroke: none;
 	fill: steelblue;
	fill-opacity: 0.6;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
  	font-size: 12px;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;
}